// Make sure the charset is set appropriately
@charset "UTF-8";

/* Imports
--------------------------------------------------- */
@import "bourbon";
@import "neat";
@import "mixins/icon";
@import "compass";
@import "normalize";
@import "variables";
@import "global-nav";
@import "footer";

$anchor-font-color: $navy;
$anchor-font-color-hover: black;
$label-radius: 4px;
$sub-nav-border-radius: 4px;
$sub-nav-active-color: $lightBrown;
$sub-nav-active-bg: $linkColor;
$sub-nav-active-padding: 5px 9px;

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/section",
  "foundation/components/labels",
  "foundation/components/tooltips",
  "foundation/components/sub-nav";

.btn-middleman {
  @include background(linear-gradient(#2c4858, #0d161b));
  border-color: #0d161b #0d161b hsl(201, 33%, 3.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
}

.btn-middleman:hover{
  color: #fff;
}

.btn-github {
  @include background(linear-gradient(#ffffff, #e6e6e6));
  border-color: #bbb;
  color: black;
}

.btn-github:hover{
  color: black;
}

/* Main
--------------------------------------------------- */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0; 
  padding-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, span, small, em, strong, a, input {
  font-family: "Lato", helvetica, sans-serif;
}

hr {
  border-top: 2px solid $lightBrown;
  border-bottom: 1px solid tint($lightBrown, 70);
}

.label {
  background-color: #999999;  
}

.label-official {
  background-color: $navy;  
}

.label-community {
  background-color: $midBrown;  
}

.header {
  background: image-url("header.bg.png") no-repeat 50% 10%;
  color: tint($navy, 25);
  padding-bottom: 20px;

  h1 {
    margin: 0;
    .logo {
      display: block;
      position: relative;
      @include border-radius(0 0 4px 4px);
      overflow: hidden;
      height: 290px - 224px;
      width: 290px;
      img { 
        width: 290px;
        height: 290px;
        position: absolute;
        top: -210px; }
    }
  }

  .sub-nav {
    margin: 10px 0 0 0;
    dt:nth-of-type(1), dd:nth-of-type(1) { margin-left: 0; }
    dt a, dd a { cursor: pointer; }
  }

  .extension-search {
    margin-top: 10px;

    .input-append {
      position: relative;
    }

    .listjs-search-icon {
      width: 40px;
    }

    input {
      @include border-radius(4px 0 0 4px);
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      height: 100%;
      @include border-radius(0 4px 4px 0);
    }

  }

  .extension-suggestions {
    p {
      font-size: 13px;
      margin-top: -10px;
      margin-left: 0.5px;
      text-shadow: tint($lightBrown, 70) 0px 1px 0;
    }

    a {
      color: tint($navy, 25);
      text-shadow: tint($lightBrown, 70) 0px 1px 0;
      text-decoration: none;
      cursor: pointer;
    }

  }
}

.list-container {
  border-top: 1px solid #DDD;
  @include border-radius(4px);
  position: relative;

  .sub-nav {
    margin: 10px 15px 0 15px;
    padding-bottom: 5px;
    dd {
      cursor: pointer;
    }
    dt:nth-of-type(1), dd:nth-of-type(1) { margin-left: 0; }
  }

  .listjs-list {
    .row {
      padding: 10px 0 10px 0;
      border-top: 5px solid tint($lightBrown, 15);
      border-bottom: 5px solid tint($lightBrown, 15);
      margin: 0;
    }

    .list-details {
      margin-top: 5px;

      .description {
        margin-bottom: 0;
      }

      h2 {
        margin-bottom: 0.25em;
        line-height: 1;
        color: $navy;

        a {
          text-decoration: none;
        }

        .label {
          vertical-align: middle;
          font-size: 13px;
          @include border-radius(4px);
          padding: 4px 6px;
        }
      }

      .list-details-footer {
        margin-bottom: 0.5em;
        display: none;

        i {
          vertical-align: middle;
          padding-right: 5px;
        }

        a {
          font-size: 14px;
        }

      }

      p {
      }

    }

    .well {
      padding: 15px;
      border: 1px solid tint($lightBrown, 15);
      background-color: tint($lightBrown, 25);
      margin-top: 15px;
      .button {
        @include border-radius(4px);
        // &:last-child {
          margin-bottom: 0;
        // }
      }


      @media #{$small} {
        margin-top: 0;
      }
    }

    li:first-child {
      border-top: 7.5px solid tint($lightBrown, 15);
    }

    li:last-child {
      border-bottom: 7.5px solid tint($lightBrown, 15);
    }

  }

}

/*      Typography
--------------------------------------------------- */
span.tip-right {
  color: $navy;
  vertical-align: -0.15em;
  font-size: 1.2em;
  line-height: 0;
}

@import "_libs/github-fork-ribbon";

$fontAwesomePath: "./font-awesome";
@import "font-awesome/font-awesome";


/*    layout
--------------------------------------------------- */

.wrap-container {
  @include outer-container;
  padding: 0 $gutter;
}

.body-content-container {
  padding-top: 2em;
  margin-bottom: 4em;
  position: relative;
}
