<div class="list-container">
  <div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
      <a href="https://github.com/middleman/middleman-directory" target="_blank">Add Your Extension <i class="icon-github-alt"></i></a>
    </div>
  </div>

  <dl class="sub-nav">
    <dd class="active" id="filter-none"><a>All</a></dd>
    <dd id="filter-official"><a>Official</a></dd>
    <dd id="filter-community"><a >Community</a></dd>
    <dd id="filter-tooling"><a >Tooling</a></dd>
    <dd id="filter-optimization"><a>Optimization</a></dd>
    <dd id="filter-deployment"><a>Deployment</a></dd>
  </dl>

  <div class="listjs-list">
     <% data.to_h.keep_if { |k, v| k =~ /middleman/ }.values.shuffle.each do |extension| %>
      <%= partial(:list_item, :locals => { :extension => extension }) %>
     <% end %>
  </div>
</div>